# MonTaxi Mobile Frontend - Variables d'environnement
EXPO_PUBLIC_API_URL=https://votre-backend.onrender.com/api
EXPO_PUBLIC_SOCKET_URL=https://votre-backend.onrender.com
EXPO_PUBLIC_LOCATIONIQ_KEY=votre_cle_locationiq
